.main-sidebar, .left-side {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100%;
    width: 18%;
    z-index: 810;
    background-color: #222d32;
}

.sidebar {
    padding-bottom: 10px;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}

.user-panel {
    position: relative;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}
.pull-left {
    float: left!important;
}

.user-panel>.image>img {
    width: 100%;
    max-width: 45px;
    height: auto;
}

.img-circle {
    border-radius: 50%;
}

.user-panel>.info, .user-panel>.info>a {
    color: #fff;
}
.user-panel>.info {
    padding: 5px 5px 5px 15px;
    line-height: 1;
    position: absolute;
    left: 55px;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu>li.header {
    color: #4b646f;
    background: #1a2226;
}
.sidebar-form, .sidebar-menu>li.header {
    overflow: hidden;
    text-overflow: clip;
}

.sidebar-menu, .main-sidebar .user-panel, .sidebar-menu>li.header {
    white-space: nowrap;
    overflow: hidden;
}

.sidebar-menu li.header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}
.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li:hover>a, .sidebar-menu>li.active>a {
    color: #fff;
    background: #1e282c;
    border-left-color: #605ca8;
}

body .sidebar-menu>li>a {
    border-left: 1px solid transparent;
}

.sidebar-menu>li>a {
    border-left: 3px solid transparent;
}

.sidebar-menu li>a {
    position: relative;
}

.sidebar-menu>li>a {
    padding: 12px 5px 12px 15px;
    display: block;
}

.content-wrapper
{
width:82%;
margin-left: 18%;
}

.panel-register{
	margin-top: 22px;
}
